{% extends 'base.html' %} 
{% block title %} About Us {% endblock title %}
{% block content %}
<section class="hero">
    <div class="container">
      <div class="about-us-con">
        <div class="about-us-dv">
        <div class="heading typing">
          <h1>Developers who made the api <span id="dynamicText"></span></h1>
      </div>
            <div class="description">
              <p>
                CenSwear is the product of a collaborative effort by the members of Microsoft Learn Student Ambassadors SRM. We create projects with the goal of improving society. 
Our team worked together to design, create and produce work that is relevant to today’s internet world. CenSwear has been built with the intent to make it easy to combat online toxicity and harassment.
              </p>
          </div>
        </div>
        <div class="about-us-img">
          <div class="dev-con">
            <div class="flip-card" id="dev-card">
                <img id="dev-img" src="https://media-exp1.licdn.com/dms/image/C4E03AQGv88oBSDW3Dw/profile-displayphoto-shrink_400_400/0/1602564247892?e=1633564800&v=beta&t=enPdKUHE0gzRbSeqHH5aLjbMlCxkgHunXfkkufpwWJg" alt="Ayush Mishra">
                <div id="dev-about">
                  <h1>Ayush Mishra</h1>
                  <div class="social-links">
                    <a href="https://github.com/sudo-logic"><img src="static/assets/github-2.svg" alt="github-logo" style="background-color: aliceblue;border-radius: 20px; width: 32px; margin-bottom: 2.5px;"/></a>
                    <a href="https://www.linkedin.com/in/ayush-mishra-srm/"><img src="static/assets/linkedin.svg" alt="linkedin-logo"/></a>
                  </div>
                </div>
            </div>
            <div class="flip-card" id="dev-card">
                <img id="dev-img" src="https://media-exp1.licdn.com/dms/image/C4E03AQFvWSoUeWmwJA/profile-displayphoto-shrink_400_400/0/1595251317458?e=1633564800&v=beta&t=eC6GHBoLw_QZ9Mj9s8HNx1rCl32Bdl0hubJ7q6nzybo" alt="Shreyas Dutta">
                <div id="dev-about">
                  <h1>Shreyas Dutta</h1>
                  <div class="social-links">
                    <a href="https://github.com/ShreyasDatta"><img src="static/assets/github-2.svg" alt="github-logo" style="background-color: aliceblue;border-radius: 20px; width: 32px; margin-bottom: 2.5px;"/></a>
                    <a href="https://www.linkedin.com/in/shreyas-datta-32bb041a1/">
                      <img src="static/assets/linkedin.svg" alt="linkedin-logo"/>
                    </a>
                  </div>
                </div>
            </div>
            <div class="flip-card" id="dev-card">
                <img id="dev-img" src="https://camo.githubusercontent.com/96a53c1a0566ee844b47d929c0c3a208da74b43d911e125f32fa77d119039c97/68747470733a2f2f6d656469612d657870312e6c6963646e2e636f6d2f646d732f696d6167652f433444303341514756587662384a485a5571772f70726f66696c652d646973706c617970686f746f2d736872696e6b5f3430305f3430302f302f313630323639323633303530363f653d3136333239363030303026763d6265746126743d3558454c3059536d4f7645306f39417a484e4947692d6273386b5939466a37794e71563931495f73513145" alt="Pallavi Pandey">
                <div id="dev-about">
                  <h1>Pallavi Pandey</h1>
                  <div class="social-links">
                    <!--<a href=""><img src="static/assets/github-2.svg" alt="github-logo" style="background-color: aliceblue;border-radius: 20px; width: 32px; margin-bottom: 2.5px;"/></a>-->
                    <a href="https://www.linkedin.com/in/pallavi-pandey-27b4b71b8/">
                      <img src="static/assets/linkedin.svg" alt="linkedin-logo"/>
                    </a>
                  </div>
                </div>
            </div>
          </div><br>
           <div class="dev-con">
            <div class="flip-card" id="dev-card">
                <img id="dev-img" src="https://media-exp1.licdn.com/dms/image/C5603AQFdoU9Vi0LuzA/profile-displayphoto-shrink_400_400/0/1618325311584?e=1633564800&v=beta&t=CF_r9zFymMgvrRjT91MvtLhC-KRpf4neNdz1lTRCAgM" alt="Manu Sunil">
                <div id="dev-about">
                  <h1>Manu Sunil</h1>
                  <div class="social-links">
                    <a href="https://github.com/manushyaaa"><img src="static/assets/github-2.svg" alt="github-logo" style="background-color: aliceblue;border-radius: 20px; width: 32px; margin-bottom: 2.5px;"/></a>
                    <a href="https://www.linkedin.com/in/manu-sunil-8356b51b9/">
                      <img src="static/assets/linkedin.svg" alt="linkedin-logo"/>
                    </a>
                  </div>
                </div>
            </div>
            <div class="flip-card" id="dev-card">
                <img id="dev-img" src="https://media-exp1.licdn.com/dms/image/C5603AQE0xGrfOyBVFA/profile-displayphoto-shrink_400_400/0/1606122219889?e=1633564800&v=beta&t=FBTmAo4R9ND3W-Jf38HJmSMDxcri6ZERYUZtC1cL1vE" alt="Priyanshi David">
                <div id="dev-about">
                  <h1>Priyanshi David</h1>
                  <div class="social-links">
                    <!--<a href="https://github.com/sudo-logic"><img src="static/assets/github-2.svg" alt="github-logo" style="background-color: aliceblue;border-radius: 20px; width: 32px; margin-bottom: 2.5px;"/></a>-->
                    <a href="https://www.linkedin.com/in/priyanshi-david-28910b200/">
                      <img src="static/assets/linkedin.svg" alt="linkedin-logo"/>
                    </a>
                  </div>
                </div>
            </div>
            <div class="flip-card" id="dev-card">
                <img id="dev-img" src="https://media-exp1.licdn.com/dms/image/C4E03AQFbtjKFLR6Xwg/profile-displayphoto-shrink_400_400/0/1620691575194?e=1633564800&v=beta&t=vLUZ-9QfC7u7An1bJZFdvan9jq3yN_gzsF3mdoxolNY" alt="Sahil Jena">
                <div id="dev-about">
                  <h1>Sahil Jena</h1>
                  <div class="social-links">
                    <a href="https://github.com/sahiljena"><img src="static/assets/github-2.svg" alt="github-logo" style="background-color: aliceblue;border-radius: 20px; width: 32px; margin-bottom: 2.5px;"/></a>
                    <a href="https://www.linkedin.com/in/sahil-jena/">
                      <img src="static/assets/linkedin.svg" alt="linkedin-logo"/>
                    </a>
                  </div>
                </div>
            </div>
          </div><br>
          
        </div>
      </div>
    </div>
  </section>
  
{% endblock content%}