<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="static/assets/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">


</head>



<body>

    <div class="navbar">
        <div class="container">
            <a class="logo" href="./"><span>Cen</span>Swear</a>
            <img id="mobile-cta" class="mobile-menu" src="static/assets/menu-1.svg" alt="Open Navigation" onclick="showMobNav()">
            <nav>
                <img id="mobile-exit" class="mobile-menu-exit" src="static/assets/x-circle-1.svg" alt="Close Navigation Bar">
                <ul class="primary-nav">
                    <li class="current" id="homenav"><a href="./">Home</a></li>
                    <li><a href="https://medium.com/mlsa-srm" target="_blank">Blog</a></li>
                    <li id="aboutnav"><a href="/about">About Us</a></li>
                </ul>

                <ul class="secondary-nav">
                    <li class="github-cta">
                        <a href="https://github.com/MLSA-SRM/profanity-filter-api" target="_blank" class="github-button">
                            <img id='github-cta-logo' class="github-logo" src="static/assets/github-icon.svg" alt="Github logo"> Github
                        </a>
                    </li>
                    <!-- <li class="demo-cta"><a href="#">Demo</a></li> -->
                </ul>
            </nav>
        </div>
    </div>

    {% block content %} {% endblock content %}
    <footer>
        <h4>Crafted with ❤️ by <a href="https://msclubsrm.in/" target="_blank">MLSA SRM</a></h4>
    </footer>
    <script>
        /* for getting current active url */
        var url = window.location.href
        var captured = /a=([^&]+)/.exec(url)[1];
        var result = captured ? captured : 'myDefaultValue';
        switch (result) {
            case '1':
                document.getElementById("homenav").classList.add("current");
                document.getElementById("aboutnav").classList.remove("current");
                break;

            case '2':
                document.getElementById("aboutnav").classList.add("current");
                document.getElementById("homenav").classList.remove("current");
                break;
        }

        function showMobNav() {
            const mobileBtn = document.getElementById('mobile-cta')
            nav = document.querySelector('nav');
            mobileBtnExit = document.getElementById('mobile-exit');

            mobileBtn.addEventListener('click', () => {
                document.getElementById('github-cta-logo').style.display = 'none';
                nav.classList.add('menu-btn');
            })
            mobileBtnExit.addEventListener('click', () => {
                document.getElementById('github-cta-logo').style.display = 'flex';
                nav.classList.remove('menu-btn');
            })
        }
    </script>
</body>

</html>