<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CenSwear Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" href="/favicon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">


</head>

<!-- <script>

    const mobileBtn = document.getElementById('mobile-cta')
    nav = document.querySelector('nav');
    mobileBtnExit = document.getElementById('mobile-exit');

    mobileBtn.addEventListener('click', () => {
        document.getElementById('github-cta-logo').style.display = 'none';
        nav.classList.add('menu-btn');
    })
    mobileBtnExit.addEventListener('click', () => {
        document.getElementById('github-cta-logo').style.display = 'flex';
        nav.classList.remove('menu-btn');
    })
</script> -->

<body>

    <div class="navbar">
        <div class="container">
            <a class="logo" href="#"><span>Cen</span>Swear</a>
            <img id="mobile-cta" class="mobile-menu" src="static/assets/menu-1.svg" alt="Open Navigation">
            <nav>
                <img id="mobile-exit" class="mobile-menu-exit" src="static/assets/x-circle-1.svg" alt="Close Navigation Bar">
                <ul class="primary-nav">
                    <li class="current"><a href="#">Home</a></li>
                    <li><a href="https://medium.com/mlsa-srm">Blog</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>

                <ul class="secondary-nav">
                    <li class="github-cta">
                        <a href="https://github.com/MLSA-SRM/profanity-filter-api" class="github-button">
                            <img id='github-cta-logo' class="github-logo" src="static/assets/github-icon.svg" alt="Github logo"> Github
                        </a>
                    </li>
                    <!-- <li class="demo-cta"><a href="#">Demo</a></li> -->
                </ul>
            </nav>
        </div>
    </div>

    {% block content %} {% endblock content %}

</body>

</html>