{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block content %}
<section class="hero">
    <div class="container">
        <div class="left-col">
            <p class="overline">A python based profanity filter</p>
            <h1>You curse, we censor!</h1>
            <h2>CenSwear is a simple, free, and reliable language understanding API designed to recognize and remove profanity, obscenity, and other unwanted text. It’s a technology you can swear by!</h2>

            <div class="hero-cta">
                <h1>Try it out!</h1>
                <img src="static/assets/steps-illustration.svg" class="hero-steps-desktop-img" alt="step by step illustration on how to try out the demo">
                <img src="static/assets/steps-illustration-mobile.svg" class="hero-steps-img" alt="step by step illustration on how to try out the demo">

            </div>
        </div>
    </div>
</section>
<section class="demo-area">
    <p id="demo-input-error" style="color: rgb(255, 86, 86); margin: 0 auto; text-align: center; font-family: Montserrat;"></p><br>
    <div class="demo-box">
        <input id="demo-input" type="text" class="demo-input" placeholder="Enter some text here.. " autocomplete="off" />
        <button id="demo-submit" type="submit" onclick="censor()"><img id="submit-btn-svg" alt="submit button" src="static/assets/button.svg"></button>
        <script>
            var demo_input = document.getElementById('demo-input');

            function censor() {
                var myform = document.getElementById('demo-submit');
                var demo_input = document.getElementById('demo-input');
                var demo_input_error = document.getElementById('demo-input-error');
                var submit_btn_svg = document.getElementById('submit-btn-svg');
                if (demo_input.value !== "") {
                    myform.disabled = true;
                    demo_input_error.innerHTML = "";
                    //submit_btn_svg.src = "static/assets/Rolling-0.6s-57px.svg";
                    fetch(window.location.origin + '/filter', {
                            method: 'POST',
                            body: JSON.stringify({
                                'text': demo_input.value
                            }),
                            headers: {
                                'Content-type': 'application/json; charset=UTF-8'
                            }
                        })
                        .then(response => response.json())
                        .then((json) => {
                            console.log(json);
                            demo_input.placeholder = json['result'];
                            demo_input.value = "";
                            demo_input.classList.add("white-placeholder");
                            //submit_btn_svg.src = "static/assets/button.svg";
                            myform.disabled = false;
                        });
                } else {
                    myform.disabled = false;
                    //submit_btn_svg.src = "static/assets/button.svg";
                    demo_input_error.innerHTML = "Please enter a valid input";
                }
            }
            demo_input.addEventListener("keydown", function(e) {
                if (e.code === "Enter") { //checks whether the pressed key is "Enter"
                    censor();
                }
            });
        </script>
    </div>
</section>

<section class="api-info-section">
    <div class="container info-div">

        <ul class="api-info-panel">
            <h1>Easy Integration</h1>
            <p>CenSwear supports both GET and POST requests.<br><br>Just copy these prefabricated snippets and you will be ready to go!</p>
        </ul>
    </div>

    <div class="container code-div">

        <div class="tab">
            <button class="tablinks" id='curl-button' onclick="show('curl')">Curl</button>
            <button class="tablinks" id='python-button' onclick="show('python')">Python</button>
            <button class="tablinks" id='js-button' onclick="show('js')">JavaScript/AJAX</button>
            <button class="tablinks" id='axios-button' onclick="show('axios')">Axios</button>
        </div>

        <div id="code-box" class="tabcontent">

            <input type="image" src="static/assets/Copy-Icon.svg" class="copy-icon" alt="Copy the associated code snippet" onclick='copy_code()'>
            <div id="copy-text" style="display: none;" class="copy-notification">Copied to clipboard</div>

            <h1 id="code"> </h1>
        </div>


        <script>
            window.onload = (function() {
                show('curl');
            });

            function show(lang) {
                var code_box = document.getElementById("code");

                var langs = [
                    'curl',
                    'python',
                    'js',
                    'axios'
                ]

                for (var i = 0; i < langs.length; i++) {
                    document.getElementById(langs[i] + '-button').classList.remove('button-active');
                    //Do something
                }

                // console.log(lang)
                switch (lang) {
                    case 'python':
                        code.innerText = `import requests
                            text = "Hello There!"
                            url = "https://profanity-filter-api.azurewebsites.net/filter"
                            r = requests.post(url, data={"text":text})
                            print(r.status_code)
                            print(r.text)`
                        break;
                    case 'js':
                        code.innerText = `var url = "https://profanity-filter-api.azurewebsites.net/filter";

                                var xhr = new XMLHttpRequest();
                                xhr.open("POST", url);

                                xhr.setRequestHeader("Content-Type", "application/json");

                                xhr.onreadystatechange = function () {
                                if (xhr.readyState === 4) {
                                console.log(xhr.status);
                                console.log(xhr.responseText);
                                }};

                                var data = '{"text":"Hello There!"}';

                                xhr.send(data);

                                `
                        break;
                    case 'curl':
                        code.innerText = `
                        curl -X GET https://profanity-filter-api.azurewebsites.net/filter?text="Hello There!"

                        curl -X POST https://profanity-filter-api.azurewebsites.net/filter -H "Content-Type: application/json" -d "{\"text\":\"Hello There!\"}"
                        `
                        break;

                    case 'axios':
                        code.innerText = `var axios = require("axios");

                                    axios.post("https://profanity-filter-api.azurewebsites.net/filter", {
                                    text: "Hello There!"
                                    }).then(function(response) {
                                    console.log(response.data['result']);
                                    })
                                    .catch(function(error) {
                                    console.log(error);
                                    });
                                    `
                        break;

                }
                document.getElementById(lang + '-button').classList.add('button-active');

            }

            function copy_code() {
                var text = document.getElementById("code").innerText;
                var elem = document.createElement("textarea");
                var copytext = document.getElementById("copy-text");
                document.body.appendChild(elem);
                elem.value = text;
                elem.select();
                document.execCommand("copy");
                document.body.removeChild(elem);
                copytext.style.display = "block";
                setTimeout(function() {
                    var copytext = document.getElementById("copy-text");
                    copytext.style.display = "none";
                }, 2000);
            }
        </script>
    </div>


</section>


<section class="features-section ">
    <div class="container ">
        <ul class="features ">
            <li class="card-1-message ">
                <img src="static/assets/message-alert.svg " alt="Feature 1 Profanity detection ">
                <h1>Profanity detection and filtering from texts</h1>
                <p class="card-feature-info ">CenSwear detects and censors swear words and profanities from chat and text messages based on an internal profanity list.</p>
            </li>
            <li class="card-2-mail ">
                <img src="static/assets/mail-alert.svg " alt="Feature 2 Real-time mail censoring ">
                <h1>Real-time censoring of expletives</h1>
                <p class="card-feature-info ">CenSwear can even provide real-time redaction of swear words while emails and documents are being typed.</p>
            </li>
            <li class="card-3-reliability ">
                <img src="static/assets/care.svg " alt="Feature 3 Reliabilty and Accuracy ">
                <h1>Fast, accurate, reliable</h1>
                <p class="card-feature-info ">CenSwear ensures that not one single offensive message slips through its filters, creating a safe and productive environment for the users.</p>
            </li>
            <li class="card-4-customer ">
                <img src="static/assets/customer.svg " alt="Feature 4 Customer care and fast response ">
                <h1>Bilingual</h1>
                <p class="card-feature-info ">We’ve designed CenSwear to accurately detect profanity in both English and Hindi</p>
            </li>
        </ul>
    </div>
</section>

{% endblock content %}