{% extends 'base.html' %} {% block content %}

<section class="hero">
    <div class="container">
        <div class="left-col">
            <p class="overline">A Python based profanity filter</p>
            <h1>You curse, we censor!</h1>
            <h2>CenSwear is a simple, free, and reliable language understanding API designed to recognize and remove profanity, obscenity, and other unwanted text. It’s a technology you can swear by!</h2>

            <div class="hero-cta">
                <h1>Try it out!</h1>
                <img src="static/assets/steps-illustration.svg" class="hero-steps-desktop-img" alt="step by step illustration on how to try out the demo">
                <img src="static/assets/steps-illustration-mobile.svg" class="hero-steps-img" alt="step by step illustration on how to try out the demo">

            </div>
        </div>
    </div>
</section>
<section class="demo-area">
    <p id="demo-input-error" style="color: rgb(255, 86, 86); margin: 0 auto; text-align: center; font-family: Montserrat;"></p><br>
    <div class="demo-box">
        <input id="demo-input" type="text" class="demo-input" placeholder="Enter some text here.. " autocomplete="off" />
        <button id="demo-submit" type="submit" onclick="censor()"><img id="submit-btn-svg" alt="submit button" src="static/assets/button.svg"></button>
        <script>
            var demo_input = document.getElementById('demo-input');

            function censor() {
                var myform = document.getElementById('demo-submit');
                var demo_input = document.getElementById('demo-input');
                var demo_input_error = document.getElementById('demo-input-error');
                var submit_btn_svg = document.getElementById('submit-btn-svg');
                if (demo_input.value !== "") {
                    myform.disabled = true;
                    demo_input_error.innerHTML = "";
                    //submit_btn_svg.src = "static/assets/Rolling-0.6s-57px.svg";
                    fetch(window.location.origin + '/filter', {
                            method: 'POST',
                            body: JSON.stringify({
                                'text': demo_input.value
                            }),
                            headers: {
                                'Content-type': 'application/json; charset=UTF-8'
                            }
                        })
                        .then(response => response.json())
                        .then((json) => {
                            console.log(json);
                            demo_input.placeholder = json['result'];
                            demo_input.value = "";
                            demo_input.classList.add("white-placeholder");
                            //submit_btn_svg.src = "static/assets/button.svg";
                            myform.disabled = false;
                        });
                } else {
                    myform.disabled = false;
                    //submit_btn_svg.src = "static/assets/button.svg";
                    demo_input_error.innerHTML = "Please enter a valid input";
                }
            }
            demo_input.addEventListener("keydown", function(e) {
                if (e.code === "Enter") { //checks whether the pressed key is "Enter"
                    censor();
                }
            });
        </script>
    </div>
</section>

<section class="api-info-section">
    <div id="copy-text" style="display: none;" class="copy-notification">Copied to clipboard</div>
    <div class="container info-div">

        <ul class="api-info-panel">
            <h1>Easy Integration</h1>
            <p>CenSwear supports both GET and POST requests.<br><br>Just copy these prefabricated snippets and you will be ready to go!</p>
        </ul>
    </div>

    <div class="container code-div">

        <div class="tab">
            <button class="tablinks button-active" id='curl-button' onclick="show('Curl')">Curl</button>
            <button class="tablinks" id='python-button' onclick="show('Python')">Python</button>
            <button class="tablinks" id='node-button' onclick="show('NodeJs')">JavaScript/AJAX</button>
        </div>

        <div id="Python" class="tabcontent">

            <img src="static/assets/Copy-Icon.svg" class="copy-icon" alt="Copy the associated code snippet" onclick='copyElementText("python-code")'>

            <h1 id="python-code">
                import requests<br> text = "Hello There!"<br> url = "https://profanity-filter-api.azurewebsites.net/filter"<br> r = requests.post(url, data={"text":text})<br> print(r.status_code)
                <br> print(r.text)
            </h1>
        </div>

        <div id="node" class="tabcontent">

            <img src="static/assets/Copy-Icon.svg" class="copy-icon" alt="Copy the associated code snippet" onclick='copyElementText("node-code")'>

            <h1 id="node-code">
                var url = "http://localhost:5000/filter";<br>
                <br> var xhr = new XMLHttpRequest();<br> xhr.open("POST", url);<br>
                <br> xhr.setRequestHeader("Content-Type", "application/json");<br>
                <br> xhr.onreadystatechange = function () {<br> if (xhr.readyState === 4) {<br> console.log(xhr.status);
                <br> console.log(xhr.responseText);
                <br> }};
                <br>
                <br> var data = '{"text":"Hello There!"}';<br>
                <br> xhr.send(data);
                <br>
                <br>
            </h1>

        </div>

        <div id="Curl" class="tabcontent" style="display: block;">

            <img src="static/assets/Copy-Icon.svg" class="copy-icon" alt="Copy the associated code snippet" onclick='copyElementText("curl-code")'>

            <h1 id="curl-code">
                curl -X GET http://localhost:5000/filter?text="Hello There!"
                <br> <br> curl -X POST https://profanity-filter-api.azurewebsites.net/filter -H "Content-Type: application/json" -d "{\"text\":\"Hello There!\"}"
            </h1>
        </div>

        <script>
            function show(lang) {
                var pythonCode = document.getElementById("Python");
                var nodeCode = document.getElementById("node");
                var curlCode = document.getElementById("Curl");
                var python_button = document.getElementById("python-button");
                var node_button = document.getElementById("node-button");
                var curl_button = document.getElementById("curl-button");

                python_button.classList.remove('button-active');
                node_button.classList.remove('button-active');
                curl_button.classList.remove('button-active');

                pythonCode.style.display = "none";
                nodeCode.style.display = "none";
                curlCode.style.display = "none";

                switch (lang) {
                    case 'Python':
                        pythonCode.style.display = "block";
                        python_button.classList.add('button-active')
                        break;
                    case 'NodeJs':
                        nodeCode.style.display = "block";
                        node_button.classList.add('button-active')
                        break;
                    case 'Curl':
                        curlCode.style.display = "block";
                        curl_button.classList.add('button-active')
                        break;

                }
            }

            function copyElementText(id) {
                var text = document.getElementById(id).innerText;
                var elem = document.createElement("textarea");
                var copytext = document.getElementById("copy-text");
                document.body.appendChild(elem);
                elem.value = text;
                elem.select();
                document.execCommand("copy");
                document.body.removeChild(elem);
                copytext.style.display = "block";
                setTimeout(function() {
                    var copytext = document.getElementById("copy-text");
                    copytext.style.display = "none";
                }, 2000);
            }
        </script>
    </div>


</section>


<section class="features-section ">
    <div class="container ">
        <ul class="features ">
            <li class="card-1-message ">
                <img src="static/assets/message-alert.svg " alt="Feature 1 Profanity detection ">
                <h1>Profanity detection and filtering from texts</h1>
                <p class="card-feature-info ">The API detects and censors swear words and profanities from chat and text messages based on an internal profanity list.</p>
            </li>
            <li class="card-2-mail ">
                <img src="static/assets/mail-alert.svg " alt="Feature 2 Real-time mail censoring ">
                <h1>Real-time censoring of expletives</h1>
                <p class="card-feature-info ">The web service also provides real-time redaction of swear words while emails and documents are being typed.</p>
            </li>
            <li class="card-3-reliability ">
                <img src="static/assets/care.svg " alt="Feature 3 Reliabilty and Accuracy ">
                <h1>Fast, accurate, reliable</h1>
                <p class="card-feature-info ">CenSwear ensures that not one single offensive message slips through its filters, creating a safe and productive environment for the users.</p>
            </li>
            <li class="card-4-customer ">
                <img src="static/assets/customer.svg " alt="Feature 4 Customer care and fast response ">
                <h1>Time Saving</h1>
                <p class="card-feature-info ">We’ve designed CenSwear in a way that helps eliminate the nuisance of having to maintain your own profanity database.</p>
            </li>
        </ul>
    </div>
</section>

{% endblock content %}