<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppName Homepage</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="navbar">
        <div class="container">
            <a class="logo" href="#"><span>App</span>Name</a>
            <img id="mobile-cta" class="mobile-menu" src="assets/menu-1.svg" alt="Open Navigation">
            <nav>
                <img id="mobile-exit" class="mobile-menu-exit" src="assets/x-circle-1.svg" alt="Close Navigation Bar">
                <ul class="primary-nav">
                    <li class="current"><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>

                <ul class="secondary-nav">
                    <li class="github-cta"><a href="#" class="github-button">
                        <img id='github-cta-logo' class="github-logo" src="assets/github-icon.svg" alt="Github logo"> Github</a></li>
                    <li class="demo-cta"><a href="#">Demo</a></li>
                </ul>
            </nav>
        </div>
    </div>
    
   <section class="hero">
       <div class="container">
           <div class="left-col">
               <p class="overline">A Python based profanity filterer</p>
               <h1>You curse, we sensor!</h1>
               <h2>AppName is a simple, free, and reliable language understanding API designed to recognize and remove profanity, obscenity, and other unwanted text. It’s a technology you can swear by!</h2>

                <div class="hero-cta">
                   <h1>How it works</h1>
                   <img src="assets/steps-illustration.svg" class="hero-steps-desktop-img" alt="step by step illustration on how to try out the demo">
                   <img src="assets/steps-illustration-mobile.svg" class="hero-steps-img" alt="step by step illustration on how to try out the demo">
                   <!--Add the demo-text-box here-->
                </div>
           </div>
       </div>
   </section>
   
   <section class="features-section">
       <div class="container">
           <ul class="features">
               <li class="card-1-message">
                   <img src="assets/message-alert.svg" alt="Feature 1 Profanity detection">
                   <h1>Profanity detection and filtering from texts</h1>
                   <p class="card-feature-info">The API detects and censors swear words and profanities from chat and text messages based on an internal profanity list.</p>
               </li>
               <li class="card-2-mail">
                   <img src="assets/mail-alert.svg" alt="Feature 2 Real-time mail censoring">
                   <h1>Real-time censoring of expletives</h1>
                   <p class="card-feature-info">The web service also provides real-time redaction of swear words while emails and documents are being typed.</p>
               </li>
               <li class="card-3-reliability">
                   <img src="assets/care.svg" alt="Feature 3 Reliabilty and Accuracy">
                   <h1>Fast, accurate, reliable</h1>
                   <p class="card-feature-info">App name ensures that not one single offensive message slips through its filters, creating a safe and productive environment for the users.</p>
               </li>
               <li class="card-4-customer">
                   <img src="assets/customer.svg" alt="Feature 4 Customer care and fast response">
                   <h1>Time Saving</h1>
                   <p class="card-feature-info">We’ve designed AppName in a way that helps eliminate the nuisance of having to maintain your own profanity database.</p>
               </li>
           </ul>
       </div>
   </section>


   <script>

       const mobileBtn = document.getElementById('mobile-cta')
            nav = document.querySelector('nav');
            mobileBtnExit = document.getElementById('mobile-exit');

        mobileBtn.addEventListener('click', () => {
            document.getElementById('github-cta-logo').style.display = 'none';
            nav.classList.add('menu-btn');
        })
        mobileBtnExit.addEventListener('click', () => {
            document.getElementById('github-cta-logo').style.display = 'flex';
            nav.classList.remove('menu-btn');
        })
   </script>
</body>
</html>